@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --header-font:  "IBM Plex Serif", serif;
    --h2-font: "Oswald", sans-serif;
    --main-font: "Jost", sans-serif;
}

body {
    display: grid;
    padding: 3rem;
    /* grid options */
    grid-template-columns: 250px auto;
    grid-template-rows: auto;
    grid-row-gap: 13px;
    place-content: center;

    /* background-image */
    background: url(https://github.com/linuxdotexe/nordic-wallpapers/blob/master/wallpapers/ign_unsplash7.png?raw=true);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
}

header {
    max-width: calc(1000px - 235px - 13px - 2.3px);
}

main, footer {
    max-width: 1000px;
    min-width: 750px;
}

.head-image, header, main, footer {
    border: 2.3px #4c566a solid;
    display: block;
    border-radius: 5px;
    padding: 12px;
}

.head-image {
    padding: 0;
    max-height: 235px;
    border-radius: 50%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;

    /* color and background */
    background: url(/rsschool-cv/cv-img/background-icon.png) #d8dee9;
    background-size: 90px;
    background-repeat: no-repeat;
    background-position-y: 95%;
    background-position-x: 98%;

}

.contact-links {
    margin: 0.4em;
    list-style: none;
}

.contact-links li a i{
    font-size: 28px;
    color: #2e3440;

    &:hover {
        transform: rotate(30deg);
        transition: transform 0.3s ease-in-out;
    }
}

.about {
    font-family: "Jost", sans-serif;
    font-size: 17px;
    padding-right: 15%;
}

.contact-links {
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: space-between;

}

main {
height: auto;
/* color and background */
background: url(/rsschool-cv/cv-img/photo-1584531979583-18c5c4b25efc.avif);
    /* GRID OPTIONS */
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

h2 {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 300;
    font-size: 33px;
    padding-bottom: 1.2em;
}

.skills i {
    font-size: 35px;
}

.skill-main {
    font-family: "Oswald", sans-serif;
    font-size: 30px;
    font-weight: 200;
    margin-left: 10px;
}

.progress-bar {
    height: 17px;
    border: 2.2px solid;
    width: 35%;
    border-radius: 3px;
    opacity: 0.65;

    margin-bottom: 1.5rem;
}

.progress-html {
    background: linear-gradient(60deg, #E34C26 0% 38%, transparent 38%);
    border-color: #E34C26;
}

.progress-css {
    background: linear-gradient(60deg, #2965F1 0% 45%, transparent 45%);
    border-color: #2965F1;
}

.progress-js {
    background: linear-gradient(60deg, #D1B618 0% 12%, transparent 12%);
    border-color: #D1B618;
}

.progress-git {
    background: linear-gradient(60deg, #21262d 0% 25%, transparent 25%);
    border-color: #21262d;
}

.progress-ai {
    background: linear-gradient(60deg, #10A37F 0% 25%, transparent 25%);
    border-color: #10A37F;
}

.progress-en {
    background: linear-gradient(60deg, #5e81ac 0% 80%, transparent 80%);
    border-color: #5e81ac;
}

.progress-jp {
    background: linear-gradient(60deg, #5e81ac 0% 60%, transparent 60%);
    border-color: #5e81ac;
}

.languages a {
    color: #10A37F;
    font-size: 26px;
    font-weight: 400;
}

.experience ul,
.experience li {
list-style: none;

display: flex;
align-items: space-between;
justify-content: stretch;
flex: 0 0 33%;
}

.experience ul li img {
    height: 40px;
    padding-right: 8px;
}

.experience ul li {
    font-family: var(--main-font);
    font-size: 18px;
}

h1 {
    font-family: var(--header-font);
    font-weight: 500;
    font-size: 36px;

    &::after {
        content: 'Web content manager';
        display: block;
        font-size: 15px;
        margin-top: -5px;
    }
}

.main-name,
.spec,
.courses li {
    font-family: var(--main-font);
    font-size: 19px;
}

.main-name {
    font-weight: 600;
}

.spec {
    font-style: italic;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    background: url(/rsschool-cv/cv-img/photo-1584531979583-18c5c4b25efc.avif);

    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

footer a img{
    max-height: 200px;
    display: block;
}

footer p {
font-family: var(--main-font);
font-size: 20px;
}

.link-image {
    height: 100px;
}

footer a,
section a {
    text-decoration: none;

    color: #10A37F;

    font-weight: 600;
}

details {
    font-family: var(--main-font);
    font-size: 19px;

    padding: 11px;
    margin-bottom: 0.6rem;

    border: 1.5px solid #697d97;
    background-color: rgba(105, 126, 151, 0.2);

    border-radius: 5px;

    transition: 0.8ms;

    &:hover {
        cursor: pointer;
    }
}